USE [Practica5]
GO
/****** Object:  StoredProcedure [dbo].[ubicacionDeAlfonsoReyes]    Script Date: 15/04/2019 01:37:22 p. m. ******/
DROP PROCEDURE [dbo].[ubicacionDeAlfonsoReyes]
GO
/****** Object:  StoredProcedure [dbo].[TodosLosAlumnos]    Script Date: 15/04/2019 01:37:22 p. m. ******/
DROP PROCEDURE [dbo].[TodosLosAlumnos]
GO
/****** Object:  StoredProcedure [dbo].[tallaUniforme2]    Script Date: 15/04/2019 01:37:22 p. m. ******/
DROP PROCEDURE [dbo].[tallaUniforme2]
GO
/****** Object:  StoredProcedure [dbo].[PrecioMenorAdiez]    Script Date: 15/04/2019 01:37:22 p. m. ******/
DROP PROCEDURE [dbo].[PrecioMenorAdiez]
GO
/****** Object:  StoredProcedure [dbo].[pagoesmenora10]    Script Date: 15/04/2019 01:37:22 p. m. ******/
DROP PROCEDURE [dbo].[pagoesmenora10]
GO
/****** Object:  StoredProcedure [dbo].[materiasmayora15]    Script Date: 15/04/2019 01:37:22 p. m. ******/
DROP PROCEDURE [dbo].[materiasmayora15]
GO
/****** Object:  StoredProcedure [dbo].[MaestrosLLamadosWillian]    Script Date: 15/04/2019 01:37:22 p. m. ******/
DROP PROCEDURE [dbo].[MaestrosLLamadosWillian]
GO
/****** Object:  StoredProcedure [dbo].[edicionMayorA30]    Script Date: 15/04/2019 01:37:22 p. m. ******/
DROP PROCEDURE [dbo].[edicionMayorA30]
GO
/****** Object:  StoredProcedure [dbo].[cantidaddeasientos]    Script Date: 15/04/2019 01:37:22 p. m. ******/
DROP PROCEDURE [dbo].[cantidaddeasientos]
GO
/****** Object:  Table [dbo].[TallaUniforme]    Script Date: 15/04/2019 01:37:22 p. m. ******/
DROP TABLE [dbo].[TallaUniforme]
GO
/****** Object:  Table [dbo].[Salones]    Script Date: 15/04/2019 01:37:22 p. m. ******/
DROP TABLE [dbo].[Salones]
GO
/****** Object:  Table [dbo].[Prueba]    Script Date: 15/04/2019 01:37:22 p. m. ******/
DROP TABLE [dbo].[Prueba]
GO
/****** Object:  Table [dbo].[PagosFinalBackup]    Script Date: 15/04/2019 01:37:22 p. m. ******/
DROP TABLE [dbo].[PagosFinalBackup]
GO
/****** Object:  Table [dbo].[PagosDeColegiatura]    Script Date: 15/04/2019 01:37:22 p. m. ******/
DROP TABLE [dbo].[PagosDeColegiatura]
GO
/****** Object:  Table [dbo].[Nomina]    Script Date: 15/04/2019 01:37:22 p. m. ******/
DROP TABLE [dbo].[Nomina]
GO
/****** Object:  Table [dbo].[Materias]    Script Date: 15/04/2019 01:37:22 p. m. ******/
DROP TABLE [dbo].[Materias]
GO
/****** Object:  Table [dbo].[Maestros]    Script Date: 15/04/2019 01:37:22 p. m. ******/
DROP TABLE [dbo].[Maestros]
GO
/****** Object:  Table [dbo].[Libros]    Script Date: 15/04/2019 01:37:22 p. m. ******/
DROP TABLE [dbo].[Libros]
GO
/****** Object:  Table [dbo].[Excursion]    Script Date: 15/04/2019 01:37:22 p. m. ******/
DROP TABLE [dbo].[Excursion]
GO
/****** Object:  Table [dbo].[Edificios]    Script Date: 15/04/2019 01:37:22 p. m. ******/
DROP TABLE [dbo].[Edificios]
GO
/****** Object:  Table [dbo].[Alumnos]    Script Date: 15/04/2019 01:37:22 p. m. ******/
DROP TABLE [dbo].[Alumnos]
GO
/****** Object:  Table [dbo].[Alumnos]    Script Date: 15/04/2019 01:37:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alumnos](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [varchar](20) NOT NULL,
	[ApellidoPaterno] [varchar](15) NOT NULL,
	[ApellidoMaterno] [varchar](15) NOT NULL,
	[Matricula] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Edificios]    Script Date: 15/04/2019 01:37:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Edificios](
	[Id] [uniqueidentifier] NOT NULL,
	[UbicacionDelEdificio] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Excursion]    Script Date: 15/04/2019 01:37:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Excursion](
	[Nombre] [uniqueidentifier] NOT NULL,
	[fecha] [date] NOT NULL,
	[PrecioPorAlumno] [int] NOT NULL,
	[Hora] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Libros]    Script Date: 15/04/2019 01:37:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libros](
	[Codigo] [uniqueidentifier] NOT NULL,
	[Edicion] [int] NOT NULL,
	[FechaDePublicacion] [date] NOT NULL,
	[AñosQueTieneElLibro]  AS (datediff(year,[FechaDePublicacion],getdate())),
PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Maestros]    Script Date: 15/04/2019 01:37:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Maestros](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [varchar](20) NOT NULL,
	[ApellidoPaterno] [varchar](15) NOT NULL,
	[ApellidoMaterno] [varchar](15) NOT NULL,
	[FechaDeNacimiento] [date] NOT NULL,
	[Edad]  AS (datediff(year,[FechaDeNacimiento],getdate())),
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materias]    Script Date: 15/04/2019 01:37:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materias](
	[Id] [uniqueidentifier] NOT NULL,
	[NombreDeLaMateria] [varchar](50) NOT NULL,
	[GradoDeLaMateria] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nomina]    Script Date: 15/04/2019 01:37:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nomina](
	[NumeroDeEmpleado] [uniqueidentifier] NOT NULL,
	[Horas] [int] NOT NULL,
	[Pago] [money] NOT NULL,
	[Recibo]  AS ([Horas]*[pago]),
PRIMARY KEY CLUSTERED 
(
	[NumeroDeEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PagosDeColegiatura]    Script Date: 15/04/2019 01:37:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PagosDeColegiatura](
	[Matricula] [uniqueidentifier] NOT NULL,
	[Inscripcion] [int] NOT NULL,
	[Materias] [int] NOT NULL,
	[Beca] [decimal](18, 0) NOT NULL,
	[PagoFinal]  AS ([Beca]*([Inscripcion]+[Materias])),
PRIMARY KEY CLUSTERED 
(
	[Matricula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PagosFinalBackup]    Script Date: 15/04/2019 01:37:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PagosFinalBackup](
	[Matricula] [uniqueidentifier] NOT NULL,
	[Inscripcion] [int] NOT NULL,
	[Materias] [int] NOT NULL,
	[Beca] [decimal](18, 0) NOT NULL,
	[PagoFinal] [decimal](29, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prueba]    Script Date: 15/04/2019 01:37:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prueba](
	[numero] [nchar](10) NULL,
	[numerodos] [nchar](10) NULL,
	[numerotres] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salones]    Script Date: 15/04/2019 01:37:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salones](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [varchar](5) NOT NULL,
	[CantidadDeAsientos] [int] NOT NULL,
	[Ubicacion] [varchar](20) NOT NULL,
	[Descripcion]  AS (([Ubicacion]+'')+[Nombre]),
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TallaUniforme]    Script Date: 15/04/2019 01:37:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TallaUniforme](
	[Id] [uniqueidentifier] NOT NULL,
	[UniformeDeportivo] [varchar](5) NOT NULL,
	[UniformeGala] [varchar](5) NOT NULL,
	[PedidosDeUniformes]  AS ([UniformeDeportivo]+[UniformeGala]),
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Alumnos] ([Id], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [Matricula]) VALUES (N'db67aa8f-82ae-4f6d-be18-07b9087439c7', N'Juan', N'Reyna', N'Garza', 1937862)
INSERT [dbo].[Alumnos] ([Id], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [Matricula]) VALUES (N'1ccdc317-9094-4010-a3f2-10d60efcf279', N'Beto', N'Tamayo', N'cortez', 787458)
INSERT [dbo].[Alumnos] ([Id], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [Matricula]) VALUES (N'9ea18a1f-d6d9-4530-b87d-1d03cd729d89', N'christian', N'bob', N'trump', 1665486)
INSERT [dbo].[Edificios] ([Id], [UbicacionDelEdificio]) VALUES (N'55facc58-c4b6-492d-aa98-06c7755a0c75', N'PinoZuares')
INSERT [dbo].[Edificios] ([Id], [UbicacionDelEdificio]) VALUES (N'bd12ace1-4973-42fa-b5b7-0fe87d744309', N'LazaroCardenas')
INSERT [dbo].[Edificios] ([Id], [UbicacionDelEdificio]) VALUES (N'6061f1f7-8cee-4a46-8856-268f9ffdfb16', N'PedroDeAlba')
INSERT [dbo].[Excursion] ([Nombre], [fecha], [PrecioPorAlumno], [Hora]) VALUES (N'97fdc400-138e-4bb8-87ea-08c4e857ace3', CAST(N'2019-03-22' AS Date), 10, CAST(N'14:41:33.5566667' AS Time))
INSERT [dbo].[Excursion] ([Nombre], [fecha], [PrecioPorAlumno], [Hora]) VALUES (N'407173c8-d5d2-4cca-b350-2a1941e13f55', CAST(N'2019-03-22' AS Date), 5, CAST(N'14:41:33.5600000' AS Time))
INSERT [dbo].[Excursion] ([Nombre], [fecha], [PrecioPorAlumno], [Hora]) VALUES (N'345f7819-d613-4348-bf31-8145e803b32a', CAST(N'2019-03-22' AS Date), 5, CAST(N'14:41:33.5566667' AS Time))
INSERT [dbo].[Libros] ([Codigo], [Edicion], [FechaDePublicacion]) VALUES (N'5f04e9c6-d83c-48b8-be6e-2263fc607f6c', 30, CAST(N'2019-03-22' AS Date))
INSERT [dbo].[Libros] ([Codigo], [Edicion], [FechaDePublicacion]) VALUES (N'0e55e23c-7643-4851-93c1-287703961c12', 78, CAST(N'2019-03-22' AS Date))
INSERT [dbo].[Libros] ([Codigo], [Edicion], [FechaDePublicacion]) VALUES (N'51463375-9314-4270-8bc9-56298124d47e', 1, CAST(N'2019-03-22' AS Date))
INSERT [dbo].[Maestros] ([Id], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [FechaDeNacimiento]) VALUES (N'3644fb03-e1ec-40c6-b197-0918cd894dcb', N'jamesD', N'ackerman', N'ames', CAST(N'2019-03-22' AS Date))
INSERT [dbo].[Maestros] ([Id], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [FechaDeNacimiento]) VALUES (N'70bcf3e8-db7a-4062-b3e7-1aa44123f6e3', N'jao ', N'albeson', N'ackerman', CAST(N'2019-03-22' AS Date))
INSERT [dbo].[Maestros] ([Id], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [FechaDeNacimiento]) VALUES (N'ee8a0c5b-b06d-40fe-acc3-1b076e22fd47', N'alfred', N'jay', N'chester', CAST(N'2019-03-22' AS Date))
INSERT [dbo].[Materias] ([Id], [NombreDeLaMateria], [GradoDeLaMateria]) VALUES (N'78ae47b8-6eef-4cae-83a7-0b80d8b60873', N'EducacionFisica', N'9')
INSERT [dbo].[Materias] ([Id], [NombreDeLaMateria], [GradoDeLaMateria]) VALUES (N'515dfee5-c737-4e5c-bbe3-2ba75862e5b7', N'Hisotoria', N'2')
INSERT [dbo].[Materias] ([Id], [NombreDeLaMateria], [GradoDeLaMateria]) VALUES (N'97182c45-e5d9-4bf6-906d-2f642757ef65', N'LabDeProgramacion', N'7')
INSERT [dbo].[Nomina] ([NumeroDeEmpleado], [Horas], [Pago]) VALUES (N'a1b15339-c1b8-42bf-8973-10fb64f0b910', 15, 11.0000)
INSERT [dbo].[Nomina] ([NumeroDeEmpleado], [Horas], [Pago]) VALUES (N'ecdbfb55-bda4-4500-8b32-1692530ff3ff', 32, 2.0000)
INSERT [dbo].[Nomina] ([NumeroDeEmpleado], [Horas], [Pago]) VALUES (N'4bfbd0d9-2c15-488d-b661-1a0ee359a43f', 16, 6.0000)
INSERT [dbo].[PagosDeColegiatura] ([Matricula], [Inscripcion], [Materias], [Beca]) VALUES (N'e58ec726-476b-423e-a399-0533d87db470', 1, 2, CAST(3 AS Decimal(18, 0)))
INSERT [dbo].[PagosDeColegiatura] ([Matricula], [Inscripcion], [Materias], [Beca]) VALUES (N'f7e7bb2c-420c-48df-b9cd-4f2d648e2e29', 4, 66, CAST(4 AS Decimal(18, 0)))
INSERT [dbo].[PagosDeColegiatura] ([Matricula], [Inscripcion], [Materias], [Beca]) VALUES (N'3f90b7c9-81c6-4ec0-bd69-5876af4f7633', 5, 4, CAST(8 AS Decimal(18, 0)))
INSERT [dbo].[PagosFinalBackup] ([Matricula], [Inscripcion], [Materias], [Beca], [PagoFinal]) VALUES (N'e58ec726-476b-423e-a399-0533d87db470', 1, 2, CAST(3 AS Decimal(18, 0)), CAST(9 AS Decimal(29, 0)))
INSERT [dbo].[PagosFinalBackup] ([Matricula], [Inscripcion], [Materias], [Beca], [PagoFinal]) VALUES (N'f7e7bb2c-420c-48df-b9cd-4f2d648e2e29', 4, 66, CAST(4 AS Decimal(18, 0)), CAST(280 AS Decimal(29, 0)))
INSERT [dbo].[PagosFinalBackup] ([Matricula], [Inscripcion], [Materias], [Beca], [PagoFinal]) VALUES (N'3f90b7c9-81c6-4ec0-bd69-5876af4f7633', 5, 4, CAST(8 AS Decimal(18, 0)), CAST(72 AS Decimal(29, 0)))
INSERT [dbo].[Salones] ([Id], [Nombre], [CantidadDeAsientos], [Ubicacion]) VALUES (N'660324a8-9937-4889-86b8-07392140214c', N'sexto', 12, N'piso3')
INSERT [dbo].[Salones] ([Id], [Nombre], [CantidadDeAsientos], [Ubicacion]) VALUES (N'f3fb706c-7c2e-4446-934b-5219f7c8b2c6', N'terce', 6, N'piso2')
INSERT [dbo].[Salones] ([Id], [Nombre], [CantidadDeAsientos], [Ubicacion]) VALUES (N'fb307d95-22bf-406c-94c8-5e73f752f07f', N'pri', 2, N'piso1')
INSERT [dbo].[TallaUniforme] ([Id], [UniformeDeportivo], [UniformeGala]) VALUES (N'423be08b-6b38-413d-8110-0e49a6eec5b3', N'333', N'20')
INSERT [dbo].[TallaUniforme] ([Id], [UniformeDeportivo], [UniformeGala]) VALUES (N'd0f4bcf3-50be-44d8-b5df-1c7887a2f98e', N'333', N'20')
INSERT [dbo].[TallaUniforme] ([Id], [UniformeDeportivo], [UniformeGala]) VALUES (N'302c009d-7441-40c3-96c0-233724ceb03b', N'333', N'20')
/****** Object:  StoredProcedure [dbo].[cantidaddeasientos]    Script Date: 15/04/2019 01:37:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[cantidaddeasientos]
as
select*from Salones where CantidadDeAsientos >=15
GO
/****** Object:  StoredProcedure [dbo].[edicionMayorA30]    Script Date: 15/04/2019 01:37:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[edicionMayorA30]
as
select*from Libros where Edicion > 30
GO
/****** Object:  StoredProcedure [dbo].[MaestrosLLamadosWillian]    Script Date: 15/04/2019 01:37:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure  [dbo].[MaestrosLLamadosWillian]
as
select*from Maestros where Nombre ='willian'
GO
/****** Object:  StoredProcedure [dbo].[materiasmayora15]    Script Date: 15/04/2019 01:37:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure  [dbo].[materiasmayora15]
as
select*from PagosDeColegiatura where Materias >15
GO
/****** Object:  StoredProcedure [dbo].[pagoesmenora10]    Script Date: 15/04/2019 01:37:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[pagoesmenora10] 
as
select *from Nomina where Pago < 10
GO
/****** Object:  StoredProcedure [dbo].[PrecioMenorAdiez]    Script Date: 15/04/2019 01:37:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[PrecioMenorAdiez]
as
select*from Excursion where PrecioPorAlumno < 10
GO
/****** Object:  StoredProcedure [dbo].[tallaUniforme2]    Script Date: 15/04/2019 01:37:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[tallaUniforme2] 
as
select *from TallaUniforme where UniformeDeportivo = 333
GO
/****** Object:  StoredProcedure [dbo].[TodosLosAlumnos]    Script Date: 15/04/2019 01:37:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[TodosLosAlumnos]
as
SELECT *from Alumnos

go;
GO
/****** Object:  StoredProcedure [dbo].[ubicacionDeAlfonsoReyes]    Script Date: 15/04/2019 01:37:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[ubicacionDeAlfonsoReyes]
as
select*from Edificios where UbicacionDelEdificio ='AlfonsoReyes'
GO
